{{#each items}}
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="checklist_item_{{this.id}}" {{#if this.checked}}
        checked="checked" {{/if}} data-item="{{this.id}}">
    <label class="form-check-label" for="checklist_item_{{this.id}}">{{this.text}}</label>
</div>
{{/each}}