{{#each items}}
<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="{{this.id}}">
    <label class="form-check-label" for="{{this.id}}">{{this.text}}</label>
</div>
{{/each}}