.col {
    padding: 0 3px;
}

.container-fluid {
    padding: 3px 15px;
}

.card-body {
    padding: 7px;
}

.nav-link {
    padding: .5rem .5rem;
}

.card-body + .card-body {
    margin-top: 7px;
}

.row + .row {
    margin-top: 7px;
}

.card-body>.nav-tabs {
    margin: -7px -7px 0 -7px;
}